
*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root {
    --ff-primary: 'Purple Purse', cursive; 
    --ff-secondary: 'Cairo', sans-serif;
    --ff-third: 'Aref Ruqaa', serif;
    --ff-main : 'Finger Paint', cursive;

    --background-color : #130E12;
    --color-red-WAJ : #FD4904;
    --color-blue-WAJ : #02C2FF;

    --clr-light: #fff;
    --clr-dark: #002F56 ;
    --clr-accent: #003D77;
    --clr-less: #3880C5;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bss: 1em 1em 1em black;
    margin-top: 40px;
}


@media (min-width: 600px) {
    :root {
     --fs-h1: 4.5rem;
     --fs-h2: 3.75rem;
     --fs-h3: 1.5rem;
     --fs-body: 1.125rem;  
    } 
 }
 
 .intro-main {
     margin-top: 20px;
     padding: 0;
      display: grid;
      grid-gap: 20px;
 }
 
 /* General Styles */
 body {
  background: var(--background-color);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fw-bold);
  line-height: 1.6;
  align-content: center;
  text-align: center;
 }


.intro-home {
    display: grid;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

.intro-home h1 {
    font-size:  var(--fs-h2);
    font-family: var(--ff-main);
    color: white;
    font-weight: bolder;
}

.intro-home p{
    text-align: start;
    font-size:  var(--fs-h4);
    font-family: var(--ff-third);
    color: var(--color-red-WAJ);
    font-weight: bolder;
}

@media screen and (max-width: 560px) {
    .intro-home {
        align-content: center;
        justify-content: center;  
    }
    .intro-home img {
        max-width: 80%;
        margin-left: 20px;
    }
    .intro-home h1 {
        font-size:  var(--fs-h4);
    }
    .intro-home p{
        text-align: center;
        font-size:  var(--fs-h4);
    }
}



