
*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root {
    --ff-primary: 'Purple Purse', cursive; 
    --ff-secondary: 'Cairo', sans-serif;
    --ff-third: 'Aref Ruqaa', serif;
    --ff-main : 'Finger Paint', cursive;

    --background-color : #130E12;
    --color-red-WAJ : #FD4904;
    --color-blue-WAJ : #02C2FF;

    --clr-light: #fff;
    --clr-dark: #002F56 ;
    --clr-accent: #003D77;
    --clr-less: #3880C5;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bss: 1em 1em 1em black;
    margin-top: 40px;
}


@media (min-width: 600px) {
    :root {
     --fs-h1: 4.5rem;
     --fs-h2: 3.75rem;
     --fs-h3: 1.5rem;
     --fs-body: 1.125rem;  
    } 
 }
 
 .intro-main {
     margin-top: 20px;
     padding: 0;
      display: grid;
      grid-gap: 20px;
 }
 
 /* General Styles */
 body {
  background: var(--background-color);
  color: var(--clr-less);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fw-bold);
  line-height: 1.6;
  align-content: center;
  text-align: center;
 }


 h1 {
    font-size:  var(--fs-h2);
    font-family: var(--ff-main);
    color: white;
    font-weight: bolder;
 }

.intro-home {
    display: grid;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}



.intro-home p{
    text-align: start;
    font-size:  var(--fs-h3);
    font-family: var(--ff-third);
    color: white;
    font-weight: bolder;
    text-shadow:  2px 3px 2px var(--color-red-WAJ);
}



.my-work-dd {
    margin-top: 70px;
}

.my-work {
    display:grid;   
    grid-gap: 20px;
  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: center;
    text-align: center;
    align-items: center;
}




.oneWork {
    background:var(--background-color);
    text-align: center;
    padding: 1.5rem 2rem;
    border: 2px solid white ;
    border-radius: 20%;
    margin : 20px;

}
.oneWork h3 {
   color:#02C2FF;
    font-family: var(--ff-primary)
}
.oneWork p {
    color: white;
    font-family: var(--ff-secondary)
}

.oneWork a {
    color : #FD4904;
   
    text-decoration: none;
}

.oneWork a:hover {
    border-bottom: 2px solid white;
}




/* Gallery Design */


.wrapper-image-gallery {
    display: grid;
    grid-template-rows: 40px,auto;
    grid-template-areas: "selector" "slider";
}

.buttons-gallery-selector {
    grid-area: selector;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 5px;
  
}

.buttons-gallery-selector  button{ 
    margin : 3px;
    border : 1px solid #FD4904;
    background-color: white;
    color: #FD4904;
    font-family: 'Cairo', sans-serif;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight : bold;
    transition-duration: 0.4s;
    cursor: pointer; 
    border: 2px solid #FD4904;
    padding: 2px;
}

.buttons-gallery-selector  button:hover {
    transition: all 0.3s ease-out;
    color: white;
    background-color: #FD4904;
}





.slider {
    grid-area : slider;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.image {
    max-width: 1000px;
    max-height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 35px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 35px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration:1s ease ;
}

.slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform : scale(1.08)
}


.image-slider-desc {
   position: relative;
   color: #02C2FF;
   font-size: large;
}

.description-image {
    position: relative;
    text-align: center;
}

@media screen and (max-width:500px) {
    .wrapper-image-gallery {
        display: grid;
        grid-template-rows: 40px,auto;
        grid-template-areas: "selector" "slider";
        padding: 30px; 

    }

    .buttons-gallery-selector {
        grid-area: selector;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-right: 5px;
    }
    

    
    .slider {
        grid-area : slider;
        position: relative;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    

    .slide-active img {
        max-width: 100%;
            max-height: 70vh;
            margin: auto;   
    }
    
}




/* Services */

.wrapper-services {
display: grid;
margin-top: 30px;
background: url(./Imgs/backopacityservice.JPG);
background-repeat: no-repeat;
background-size: 100%;
width: 100%;
height: 60vh;
align-items: flex-start;
justify-content:center;
}


.contact-info  h1 {
    text-shadow: 3px 3px 2px var(--clr-accent);
 }

 .contact-info a {
   
 margin : 5px;
 border : 1px solid var(--clr-dark);
 color: var(--clr-dark);
 font-family: 'Cairo', sans-serif;
 white-space: nowrap;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 35px;
 font-weight : bold;
 transition-duration: 0.4s;
 cursor: pointer; 
 border: 2px solid var(--clr-dark);
 padding: 2px;
 }

 .contact-info a:hover {
    transition: all 0.3s ease-out;
    color: var(--clr-dark);
 }


 .contact-info-icons {
     align-items: center;
     justify-content: center;
     text-align: center;
 }


 .wrapper-contact h3 {
     color: white;
     font-family: var(--ff-main);
 }


@media screen and (max-width: 560px) {
    .intro-home {
        align-content: center;
        justify-content: center;  
    }
    .intro-home img {
        max-width: 80%;
        margin-left: 20px;
    }
    .intro-home h1 {
        font-size:  var(--fs-h4);
    }
    .intro-home p{
        text-align: center;
        font-size:  var(--fs-h4);
    }
    .wrapper-services {    
        background-image:none ;
    }
      .wrapper-services a {    
    color: var(--color-blue-WAJ);
    }
}



